.booking-img-big {
    height: 360px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
  }

  .booking-img-medium {
    height: 180px;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
  }

  .booking-img-small{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
}

.booking {
    background-size: cover;
    background-position: center;
    padding: 24px;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(48,113,128,0.2);
    justify-content: center;
  }

  .confirmation {
    text-align: center;
    justify-content: center;
    color: $blue;
  }
  .simple_form {
    color: $blue;

}

.booking-form {

}

