#form-edit {
 color: white;
}

.form-container {
  color: white;
  background-color: rgba(255,255,255,0.4);
  padding: 44px;
  margin: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: none;
}

.form-control-file {
  color: white;
}
