<h1><%= @machine.business_name %></h1>

<%= link_to "Delete",
            machine_path(@machine),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Edit",  edit_machine_path %>
